<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SixLink.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C490A9EC1BF073B500D05462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C490AA051BF073B600D05462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C490AA101BF073B600D05462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
